<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Triet Java</title>
    <style>
      body {
        width: 100%;
        height: 100vh;
        background-color: bisque;
        color: chocolate;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    </style>
  </head>
  <body>
    Hello Triet!
    <br />
    How are you today?
  </body>
</html>
